$primColor : #f72210;

.primColor {
    color: $primColor;
}

.navbar {
    background-color: $primColor;

    .navbar-brand {
        fill: white;
        width: 150px;
    }

    .login img{
        width: 30px;
    }

    .login {
        width: 40px;
    }
}

.top-story,
.featured-stories,
.editor-pick {
    
    .tags {
        position: absolute;
        bottom:171px;
        width: 60px;
        height: 35px;
        background-color: #e7e7e7;
        font-weight: 700;
        color: red;
    }

    a {
        color: black;
        font: 22px "Roboto Condensed", sans-serif;
        
    }
}

.debate,
.opinin {

    img {
        width: 90px;
    }
}

.more-stories {

    img {
        width: 300px;
    }

    a {
        color: black;
        font-size: 18px;
    }
}

.logo img {
    background-color: $primColor;
    width: 25px;
    height: 25px;
}

.col-12 {
    a {
        color: black;
    }
    a:hover {
        color: #000;
        text-decoration-color: $primColor;
    }
}

.topic-img {
    max-width: 60%;
}

.footer-logo {
    width: 200px;
}

.footer {
    .social-links li{
        font-size: 1.5rem;
        color: #666;
    }

    li:hover {
        color: #1DA1F2;
    }

    .langs li a{
        color: #666;
    }
    .langs li a:hover{
        color: black;
        text-decoration: none;
    }
}